= form_for(@note, url: yield(:url_path), :html => { :class => "form-vertical"}) do |f|
	= f.text_field :title, placeholder: "Title", class: "form-control"
	= f.text_area :content, placeholder: "Note", class: "form-control"
	.form-group.row
		.col-sm-6.btn
			= link_to "Cancel", notes_path
		.col-sm-6
			= f.submit :Submit, class: "btn btn-default"